@page
@model WebApp.Pages.Productos.EditModel
@{ }


<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.Id_Productos" />

                <div class="form-group mb-3">
                    <label for="Entity.Categoria" class="form-label">Categoria</label>
                    <input type="text" class="form-control" asp-for="Entity.Categoria" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Cantidad_Disponible" class="form-label">Cantidad Disponible</label>
                    <input type="number" class="form-control" asp-for="Entity.Cantidad_Disponible" max="100000" required>
                </div>
                 <div class="form-group mb-3">
                    <label for="Entity.Caracteristica" class="form-label">Caracteristica</label>
                    <input type="text" class="form-control" asp-for="Entity.Caracteristica" maxlength="250" required>
                </div>
                <div class="form-group form-check form-switch">
                    <input type="checkbox" class="form-check-input" asp-for="Entity.Estado" value="true">
                    <label for="Entity.Estado" class="form-check-label"> </label>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>

@section Scripts{
<script>
    $(document).ready(function () {
        $('#FormEdit').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                Descripcion: {
                    message: 'Descripcion no valida',
                    validators: {
                        notEmpty: {
                            message: 'Descripcion no puede ir vacio'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'La Descripcion debe ser de 6 a 30 caracteres'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: 'La Descripcion solo puede contener letras o numeros'
                        }
                    }
                }
            }
        });
    });
</script>
    <script defer src="~/App/Productos/Edit.js"></script>

}