@page
@model WebApp.Pages.Clientes.EditModel
@{ }


<div id="AppEdit" class="container">
    <div class="card">
        <div class="card-header">
            @(Model.id.HasValue ? "Actualizar" : "Nuevo")
        </div>
        <div class="card-body">
            <form id="FormEdit" method="post">
                <input type="hidden" asp-for="Entity.Cedula" />
                <div class="form-group mb-3">
                    <label for="Entity.Nombre" class="form-label">Nombre</label>
                    <input type="text" class="form-control" asp-for="Entity.Nombre" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Apellidos" class="form-label">Apellidos</label>
                    <input type="text" class="form-control" asp-for="Entity.Apellidos" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Dirreccion" class="form-label">Dirreccion</label>
                    <input type="text" class="form-control" asp-for="Entity.Dirreccion" maxlength="250" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.FechaNacimientos" class="form-label">Fecha Nacimiento</label>
                    <input type="date" class="form-control" asp-for="Entity.FechaNacimientos" required>
                </div>
                <div class="form-group mb-3">
                    <label for="Entity.Telefono" class="form-label">Telefono</label>
                    <input type="number" class="form-control" asp-for="Entity.Telefono" min="8100000" max="90000000" required>
                </div>

                <div class="row">
                    <div class="col-4">
                        <button type="submit" class="btn btn-outline-primary">
                            @(Model.id.HasValue?"Actualizar":"Agregar")
                        </button>
                    </div>
                </div>

            </form>


        </div>
    </div>

</div>

@section Scripts{
<script>
    $(document).ready(function () {
        $('#FormEdit').bootstrapValidator({
            // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                Descripcion: {
                    message: 'Descripcion no valida',
                    validators: {
                        notEmpty: {
                            message: 'Descripcion no puede ir vacio'
                        },
                        stringLength: {
                            min: 6,
                            max: 30,
                            message: 'La Descripcion debe ser de 6 a 30 caracteres'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9]+$/,
                            message: 'La Descripcion solo puede contener letras o numeros'
                        }
                    }
                }
            }
        });
    });
</script>
    <script defer src="~/App/TipoInquilino/Edit.js"></script>

}